---
title: "推荐"
youtube_id: 
youku_id:
bilibili_id: 
permalink: /recommend/
description: "python 设计内容较广, 如何来学习呢? 我列出了常见的学习章节!"
---

<h1 style="display:none; padding:0; margin:0;">{{page.title}}</h1>
<div class="section ie-size">
	<!--p>{% include embedded-video.html %}</p-->
	<div class="pad-main">

		<br>
		<h2 class="small-h1">
			书籍推荐
		</h2>
       <p>
		Python高性能编程
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/gaoxingneng.jpeg" src=""
		alt="python gaoxingneng">
	   </p>
	   <p>
		Python核心编程（第3版）
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/hexinbianchengjpeg.jpeg" src=""
		alt="python hexinbianchengjpeg">
	   </p>
	   <p>
		Python极客项目编程
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/jikebiancheng.jpeg" src=""
		alt="python jikebiancheng">
	   </p>
	   </p>
	   <p>
		Python机器学习实践指南
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/jiqixuexishijianzhinan.jpeg" src=""
		alt="python jiqixuexishijianzhinan">
	   </p>
	   </p>
       <p>
		Python机器学习 预测分析核心算法
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/yucefenxihexinsuanfa.jpeg" src=""
		alt="python yucefenxihexinsuanfa">
	   </p>
	   </p>	
       <p>
		用Python写网络爬虫
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/wangluopachong.jpeg" src=""
		alt="python wangluopachong">
	   </p>
	   </p>
	   <p>
		Python编程快速上手——让繁琐工作自动化
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/kuaisushanshou.jpeg" src=""
		alt="python kuaisushanshou">
	   </p>
	   </p>	
	   <p>
		Python数据科学指南
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/shujukexuezhinan.jpeg" src=""
		alt="python shujukexuezhinan">
	   </p>
	   </p>	
	   <p>
		Python高手之路（第3版）
		<br />
		<img class="lazy-img" data-src="/static/img/course_cover/gaoshouzhilu.jpeg" src=""
		alt="python gaoshouzhilu">
	   </p>
	   </p>	
	   <br>

		<h2 class="small-h1">
			python学习思维导图
		</h2>

		<!-- <div id="contact-table" style="font-size:0.9em;">
			{% for item in page.items %}
				<div class="row">
				  <p style="color: #028e3d;">{{ item[1] }}:</p>
					{% if item[0] == "link" %}
				    <a href="{{ item[2] }}" style="font-size:0.7em;" target="_blank">
					    {{ item[2] }}
				    </a>
					{% elsif item[0] == "text" %}
					  <span style="text-decoration:none; color:#00b359;" >
					    {{ item[2] }}
				    </span>
					{% endif %}
				</div>
			{% endfor %}

		</div> -->
	</div>
</div>
